.sayless {
  margin-top: 75px;
  margin-bottom: 50px;
  max-width: 350px;
  max-height: 145px;
}

.footer {
  margin: 50px 0;
}

.footer img {
  max-width: 24px;
  margin: 0 5px;
}

@media (max-width: 481px) {
  .sayless {
    max-width: 250px;
    max-height: 104px;
  }
}

@media (min-width: 481px) {
  .soundcloud-player {
    width: 400px;
  }
}
