.sayless {
  margin-top: 60px;
  margin-bottom: 50px;
  max-width: 250px;
  max-height: 104px;
}

.footer {
  margin: 50px 0;
}

.footer img {
  max-width: 24px;
  margin: 0 5px;
}

@media (min-width: 481px) {

  .sayless {
    margin-top: 75px;
    max-width: 350px;
    max-height: 145px;
  }

  .soundcloud-player {
    width: 400px;
    height: 400px;
  }

}
